/*Toutes les pages*/

body
{
   background: #d1e9fd;
   font-family: 'EB Garamond', serif;
}
.all-posts
{
    margin: 30px auto;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 20px;
}

.liens-cliquables ,h6
{
    font-size: 15px !important;
}

h3
{
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid;
    margin-bottom: 20px;

}

.bg-dark
{
   background:  #10161b !important;
}

.lire-la-suite
{
    text-align: right !important;
}

@media (max-width: 968px)
{
    .nav-link
    {
        display: inline !important;
    }

}